/*
.mat-mdc-progress-bar.mdc-linear-progress {
    @apply overflow-x-visible;
    --mdc-linear-progress-track-shape: 10rem;

    .mdc-linear-progress__bar {
        @apply rounded;
        box-shadow: 0 .25rem .8rem var(--md-sys-color-surface-tint, rgb(79, 131, 183));
    }
}



.warn-hint {
    @apply text-red-500 flex items-center pr-1 text-sm;

    .material-symbols-rounded {
        @apply text-sm;
    }
}
*/
input:is(:-webkit-autofill, :autofill) {
    background-color: transparent !important;
}

// Normalize
.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
        @apply rounded-3xl;
    }

    .mat-mdc-form-field-flex {
        @apply min-h-12;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field .mdc-notched-outline__notch {
        border-right: none;
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
        --mdc-outlined-text-field-container-shape: 1.5rem;
    }

    // form hint
    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
        padding: 0;

        .mat-mdc-form-field-bottom-align::before {
            @apply flex h-auto pt-0.5;
        }
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        //top: 1.75rem;
    }
}

.input-group {
    @apply grid gap-x-5 gap-y-2;
}

.section-title {
    @apply col-span-full flex items-center justify-between mb-3;
}

.mat-step-header {
    @apply rounded-full;
}

.mat-mdc-form-field-flex {
    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
        font-size: 0.875rem;
    }

    .mat-mdc-form-field-icon-prefix {
        @apply pl-2;
    }

    .mat-mdc-form-field-icon-suffix {
        @apply pr-2;
    }

    .input-prefix {
        @apply relative top-px;
    }

    .mat-mdc-form-field-icon-prefix .material-symbols-rounded,
    .mat-mdc-form-field-suffix .material-symbols-rounded {
        @apply text-2xl align-middle mx-2;
    }
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined {
    .mat-mdc-form-field-infix {
        //@apply min-h-full py-2;
    }
}

.mat-mdc-form-field-flex:has(.mdc-floating-label) {
    .mat-mdc-form-field-infix {
        //@apply pt-3;
    }
    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
        @apply pt-1;
    }
}

// Inputs // Large Size
.mat-mdc-form-field.input-large {
    .mat-mdc-form-field-flex {
        @apply h-[3.25rem];

        input.mat-input-element,
        .mat-mdc-form-field-label {
            @apply text-base;
        }
    }

    .mat-mdc-form-field-infix {
        padding: 0.8rem 0 0.65rem;
    }
}

.mat-mdc-form-field.center-input {
    .mat-mdc-form-field-icon-prefix + .mat-mdc-form-field-infix,
    .mat-mdc-form-field-suffix + .mat-mdc-form-field-infix {
        text-align: center;
    }
}

.mat-mdc-form-field.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label,
.mat-mdc-form-field.mat-mdc-form-field-can-float
    .mat-input-server:focus
    + .mat-mdc-form-field-label-wrapper
    .mat-mdc-form-field-label {
    transform: translateY(-1.3em) scale(0.75);
}

// Form
.fill-white.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
        @apply bg-white h-10 flex-none;
        border-radius: 5px;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
        [class*="mdc-notched-outline__"] {
            @apply border-sky-200;
        }

        &.mdc-text-field--focused [class*="mdc-notched-outline__"] {
            @apply border-sky-500;
        }
    }
}

.fill-black.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
        @apply bg-sky-800/10;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
        [class*="mdc-notched-outline__"] {
            @apply border-white/90;
        }

        &.mdc-text-field--focused [class*="mdc-notched-outline__"] {
            @apply border-sky-500;
        }
    }
}

.form-label {
    @apply flex items-center cursor-pointer w-fit mb-1 relative hover:text-black;

    > p {
        @apply text-sm font-normal relative min-w-fit;
    }

    .material-symbols-rounded {
        @apply text-sky-500 text-lg w-8 text-center ml-2;
    }

    .required-mark {
        @apply text-red-600 text-sm absolute -right-2 top-0;
    }
}

.form-tooltip {
    @apply text-base;
}

.multi-inputs {
    @apply w-full grid gap-x-1 min-w-fit max-w-fit;

    .secondary-label {
        @apply text-sky-900/50 text-sm mb-6 mr-2 min-w-fit;
    }
}

.inputs-container {
    @apply px-5 py-4 flex-auto overflow-auto;
}

.mat-button-toggle-group {
    @apply w-full;

    .mat-button-toggle {
        @apply text-sm flex-auto;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        @apply leading-8;
    }
}

.mat-option {
    @apply text-sm;
}

.checkbox-list {
    .mat-mdc-checkbox {
        display: block;
    }

    .mat-mdc-checkbox label {
        @apply text-base;
    }

    .mdc-form-field {
        @apply flex flex-row-reverse w-full;
    }
}

.mdc-checkbox {
    padding: 0;
}

.account-wrap {
    .inner-wrap {
        @apply pt-5 md:pt-7;
    }

    .form-section {
        @apply px-6 pb-4 md:px-8 md:pb-6;
    }

    .form-section > ul:not(:first-of-type) {
        @apply border-t-2 border-black/5 pt-7 pb-6;
    }

    h3.title {
        @apply mb-2;
    }

    .multi-inputs {
        @apply grid gap-2;
    }

    .toolbar {
        @apply flex items-center justify-between space-x-2 py-5;

        button {
            @apply rounded-full px-4;
        }

        .btn-primary.btn-lg {
            @apply w-fit ml-auto md:w-40;
        }
    }
}

.stretch-none-dk.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs {
    .mat-mdc-tab-header .mat-mdc-tab {
        @apply lg:grow-0;
    }
}