footer {
  min-height: var(footer-desktop-h);
}

.max-w-container {
  @apply px-5 w-full  mx-auto;

  &:has(swiper) {
    @apply px-0;
  }
}

.min-h-container {
  min-height: calc(100svh - var(--footer-desktop-h));
}

.web-map {
  @apply flex-auto;

  ul {
    @apply space-y-4 mr-6 mb-6 lg:mr-12 lg:mb-12;
  }

  li {
    @apply space-y-1 max-w-md;
  }

  li .label {
    @apply uppercase opacity-60;
  }
}

.social-links {
  @apply flex items-center mt-auto ml-auto mb-4;

  > a {
    @apply p-2 rounded-full transition-all ease-in-out hover:bg-sky-300/10;
  }

  a > img {
    @apply w-8 h-8 object-contain;
  }
}

.search-wrap {
  @apply flex items-start flex-wrap gap-x-2 mt-5;

  mat-form-field {
    @apply flex-1 min-w-full sm:min-w-24;
  }

  .btn-primary {
    @apply w-full max-w-24 ml-auto;
  }
}

.accordion-transparent {
  --mat-expansion-header-collapsed-state-height: auto;

  .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    @apply bg-inherit shadow-none;
  }

  .mat-expansion-panel-header.mat-expanded {
    height: auto;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

web-glass-bg .accordion-transparent {
  .mat-expansion-panel-header {
    @apply rounded-full px-1 py-2;
  }

  .header-wrap {
    @apply flex flex-col pl-4 py-2 w-3/4;
  }

  .panel-title {
    @apply text-lg font-medium tracking-wider line-clamp-2;
  }

  .title-sub {
    @apply opacity-70 text-sm;
  }

  .mat-content {
    @apply items-center;
  }

  .status-wrap {
    @apply flex flex-col items-center w-fit px-3 ml-auto;
  }

  .status-wrap .material-symbols-rounded {
    @apply text-3xl min-w-max;
  }

  .status-label {
    @apply text-xs font-bold;
  }

  .btns-wrap {
    @apply flex items-center space-x-2 mt-4 mb-2 lg:w-1/2 lg:mb-0;
  }

  .btn-primary,
  .btn-white {
    @apply w-full rounded-full h-12;
  }

  .panel-content {
    @apply bg-black/5 px-4 pb-4 rounded-b-[2.5rem] pt-3 lg:flex items-end justify-between;
  }

  .list-circle {
    @apply ml-7 space-y-2;
  }
}

.panel-title-wrap {
  @apply lg:grid gap-1;
  grid-template-columns: 6.5rem auto;

  .title-label {
    @apply text-sm bg-sky-600/15 w-fit rounded-full px-2 py-1 lg:text-lg text-black font-medium lg:bg-transparent lg:p-0;
  }
}

/*
.flex-outer,
.mat-horizontal-stepper-content {
  @apply flex flex-col h-full overflow-auto;
}

// Header
.basic-header {
  @apply flex items-center flex-wrap;

  h1 {
    @apply leading-normal mr-4;
  }
}

.justify-header {
  @apply flex items-center justify-between;
}

.section-title-wrap {
  @apply flex items-center flex-wrap;

  h2 {
    @apply py-2;
  }

  b {
    @apply flex items-center font-bold text-lg;

    .material-symbols-rounded {
      @apply text-sky-600 text-3xl w-10;
    }
  }

  .hint {
    @apply text-sm text-sky-900/50 ml-10 -mt-1;
  }

  . {
    @apply rounded flex items-center px-2 py-1 min-w-fit font-medium text-sm;

    .material-symbols-rounded {
      @apply text-lg pr-1;
    }
  }
}

// Toolbar
.sticky-toolbar {
  @apply col-span-full mt-5 sticky bottom-0 bg-white border-t py-4;

  button.submit {
    @apply w-full float-right lg:w-fit;
  }
}

.sticky-header {
  @apply p-4 border-b flex items-center justify-between sticky top-0 bg-white;
  z-index: 1;
}

// Side Nav
[class*='sub-sidenav-'] {

  .mat-accordion  {
    @apply block h-auto;
  }



  .mat-expansion-indicator {
    @apply flex justify-center w-8;

    &::after {
      @apply border-sky-900;
    }
  }
}

.sub-sidenav-left {
  @apply bg-sky-50 rounded-r-3xl flex flex-col pb-6 pt-4 h-full overflow-auto shadow-lg z-10;
  width: 22.5rem;

  .side-nav-content {
    @apply flex-1 overflow-auto pt-2;

    mat-form-field {
      max-width: 8rem;
      height: 4.5rem
    }
  }

  .side-nav-submit {
    @apply mx-6 rounded-xl shadow-lg overflow-hidden;
  }
}

.sub-sidenav-right {
  @apply bg-white h-full overflow-auto relative shadow transition-all duration-300 ease-in-out;
  width: 22.5rem;

  .main-content {
    @apply flex-1 px-6 pb-6 pt-4;
  }
}

.mat-drawer.mat-drawer-end.sub-sidenav-right {
  .mat-drawer-inner-container {
    @apply flex flex-col pt-0;
  }

  &:not(.mat-drawer-side) {
    @apply shadow-lg;
  }
  
  &.collapsed {
    width: 5rem !important;
    min-width: 5rem !important;
    max-width: 5rem !important;
  }
}
*/
